.signInFormGridChild{
    height: 500px;      
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 15px;    
    margin-top: 50;
    width: 30vw;
    background-color: black ;
    padding-top: 40px;

  }
  
  
  .gridContainer{
    
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 200px;
  }
  .gridChild1{
    padding-top: 50px;
    padding-bottom: 0px;
    color: cyan;
    font-size: xx-large;
    text-align: center;  
    border-radius: 15px;
    width: fit-content;
  }
  .Raiden{
    font-size: 150px;
    padding-top: 0px;
    color: cyan;
  }
  .BtnSignIn{
    padding: 10px;
    border-radius: 10px;
    width: 10rem;
    background-color: cyan;
}
.btn{
  padding-top: 60px;
  padding-left: 80px;

}