* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Hero*/
.hero {
  height: 100vh;
}
.hero > .text {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 8rem;
}

.hero_img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 3rem;
}
.hero > p {
  padding: 0;
  margin: 0;
}
.heroText {
  margin: 0 4rem;
}
.heroText > span {
  display: flex;
  align-items: flex-end;
}

.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: white;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}
.hero > p {
  padding: 0;
  margin: 0;
}
.heroText {
  display: flex;
}
.heroText > span {
  display: flex;
  align-items: flex-end;
  color: #ff9b21;
  z-index: 1;
}
.para {
  z-index: 2;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
/*Content*/
.content {
  height: 100vh;
}

.para {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  font-weight: 300;
}
.btnGrp {
  height: 10rem;
  width: 100%;
  margin: 0 5rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0 5rem;
}
.ranking {
  height: 90vh;
  padding-left: 3rem;
  margin-bottom: 4rem;
  align-items: flex-start;
}

.ranking > .label {
  color: #fff;
}
.coinPosition {
  width: 100%;
  /* display: flex;
  /* flex-direction: row; */
  /* justify-content: center;
  align-items: flex-start;
  margin-bottom: 10rem;  */
  z-index: 1;
  padding: 25px;
  position: sticky;
  top: 20;
}

.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: white;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.contentContainer > div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 3rem;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  -webkit-user-select: none;
  user-select: none;
}
