* {
  margin: 0;
}
/*Hero*/
.hero {
  height: 100vh;
}
.hero > .text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
}
.hero_img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 3rem;
}

.para > span {
  color: #ff9b21;
}

/*Content*/
.content {
  height: 100vh;
}

.content > .para {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 300;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.btn > a {
  text-decoration: none;
}

.ranking {
  height: 90vh;
  height: 90vh;
  padding-left: 3rem;
  margin-bottom: 4rem;
}

.ranking > .label {
  display: flex;
  align-items: center;
  color: #fff;
}
