body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
.poppins {
  font-family: "Poppins", sans-serif;
}
@font-face {
  font-family: "Playfair";
  src: local("Playfair"),
    url(assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf)
      format("truetype");
}
.playfair {
  font-family: "Playfair", sans-serif;
}
@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf)
      format("truetype");
}
.open_sans {
  font-family: "Open_Sans", sans-serif;
  font-size: large;
}
//-----------------------------signUp css----------------------//
.signUp{
  background-image: linear-gradient(rgb(175, 35, 175),cyan);
  height: 100%;
  
}

.signUpForm{
  border: 2px solid black;
  border-radius: 15px;
  padding: 25px;
  margin-top: 50;
  width: max-content;
  background-image:linear-gradient(cyan,rgb(175, 35, 175)) ;
  
}
.name,.lastname,.email,.socialcoins,.members,.followers,.platforms,.password {
  padding: 10px;
  color: white;
}
.input{
  padding: 2px 7px;  
  border: none;
  border-bottom: 2px solid black;
  background-color: transparentize($color:white, $amount: 1);
  color: black;
  width: 100%;
}
::placeholder{
  color: black;
}

.submit{
  background-color: cyan;  
}
.submitButton{  
  text-align: center;  
}
//------------------------sign in css-------------------------//
.signInForm{
  height: 500px;
  float: right;
  padding-right: 20px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 25px;
  margin-top: 50;
  width: fit-content;
  background-image:linear-gradient(cyan,rgb(175, 35, 175)) ;
}
.signInButton{
  text-align: center;
  padding-top: 60px;
}
.gridContainer{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.gridChild1{
  padding-top: 50px;
  padding-bottom: 0px;
  color: white;
  font-size: xx-large;
  text-align: center;  
  border-radius: 15px;
}
.Raiden{
  font-size: 150px;
  padding-top: 0px;
  color: white;
}
.newAccount{
  text-align: center;
  color: white;
  text-decoration: none;
  padding-top: 80px;
}
